button {
  padding: 0.5rem 1rem;
  font-size: medium;
  background-color: lightblue;
  border: 1px solid transparent;
}

button:active {
  background-color: aquamarine;
}

button:hover {
  cursor: pointer;
}

button[color="green"] {
  background-color: green;
  color: white;
}

button[color="green"]:active {
  background-color: darkgreen;
  color: white;
}

button[color="red"] {
  background-color: #d64a4a;
  color: white;
}

button[color="red"]:active {
  background-color: rgb(144, 4, 4);
  color: white;
}
