/* Select */
select {
  margin-left: 1rem;
  width: fit-content;
  color: var(--text-primary);
  background-color: transparent;
  border: none;
  outline: 1px solid white;
}

option {
  background-color: var(--background-primary);
}