@import "variables.css";
@import "button.css";
@import "form.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  color: var(--status-neutral);
}

a:hover {
  color: var(--status-good) !important;
}

a:active {
  color: var(--text-secondary) !important;
}

a:visited {
  color: var(--status-neutral);
}
