:root {
  /* Fonts */
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  /* Colors */
  --text-primary: hsl(0, 0%, 96%);
  --text-secondary: hsl(0, 0%, 83%);
  --text-dark: hsl(0, 0%, 20%);

  --status-good: hsl(160, 50%, 33%);
  --status-neutral: hsl(188, 52%, 65%);
  --status-bad: hsl(1, 79%, 48%);

  --background-primary: hsl(196, 60%, 5%);
  --background-secondary: hsl(0, 0%, 20%);
  --background-parchment: hsl(27, 39%, 72%);
}
