<footer>
  <a href="http://jonoaugustine.com">Made By Jono</a>
</footer>

<style>
  footer {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    transition: bottom 0.5s ease-in-out, color 0.5s ease-in-out;
  }

  footer:hover {
    bottom: 1.5rem;
  }

  footer a,
  footer a:active {
    text-decoration: none;
    color: #333;
  }

  footer a:hover {
    text-decoration: underline;
    color: green;
  }
</style>
