<script lang="ts">
  import * as project from "../info"
</script>

<header>
  <h1>{project.name}</h1>
</header>

<style>
  header {
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    color: white;
  }

  h1 {
    margin: 0;
  }
</style>
